#heading{
    background-color: black;
    color: white;
    text-align: center;
}
#subh{
    text-align: center;
}
#main{
    text-align: center;
    font-size: xx-large;
}
input{
    position: relative;
    top: 20px;
    left: 680px;
    height: 30px;
    width: 130px;
    background-color: white;
    color: black;
}
input.subt{
    background-color: black;
    color: white;
    cursor: pointer;
}
#rem{
    position: relative;
    bottom: 33px;
    left: 830px;
}
#list{
    position: relative;
    bottom: 33px;
    left: 830px;
}
input.in{
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
}
input.in:focus{
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    border-color: #007bff;
}
