#heading{
    background-color: black;
    color: white;
    text-align: center;
}
#subh{
    text-align: center;
}
#main{
    text-align: center;
    font-size: xx-large;
}
input{
    position: relative;
    top: 20px;
    left: 435px;
    height: 30px;
    width: 130px;
    background-color: white;
    color: black;
}
input.subt{
    background-color: black;
    color: white;
    cursor: pointer;
}
#rem{
    position: relative;
    bottom: 33px;
    left: 580px;
}